:root {
    --bg-color: rgb(248, 107, 46);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    overflow: hidden;

}

/* nav bar */
nav {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    /* gap: 5px; */
}

.logo .circle {
    width: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.logo img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.logo .logName {
    background-color: orange;
    /* height: 30px; */
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 50px;
    border-radius: 0 0 0 20px;


}

.links ul {
    display: flex;
    gap: 25px;
    margin-right: 6rem;
    align-items: center;

}

.links li {
    list-style-type: none;
}

.links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;

}

.links button {
    width: 110px;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--bg-color);
    color: white;
    border: none;
    transition: all 0.5s linear;
    cursor: pointer;
    /* border: 1px solid black; */
}

.links button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* navbar end */


.container {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}


.container .left {
    padding-top: 3rem;
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    animation: move 4s linear 2s;

}

.left h1 {
    font-size: 4rem;
    width: 70%;
    gap: 20px;
}

.left button {
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    transition: all 0.5s linear;


}

.left button:hover {
    background-color: var(--bg-color);
    border: 1px solid black;
    color: black;
}

.container .right {
    width: 100vw;
    height: calc(100vh - 100px);



}

.right .circle-1 {
    background-color: whitesmoke;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10rem;
    animation: run 4s linear 2s;

}

@keyframes run {
    from {
        transform: translate(500px);
        scale: 0;

    }

    to {
        transform: translate(0);

        /* opacity: 1; */
    }

}

.container .right img {
    height: 200px;
    border-radius: 50%;
}

.right .circle {
    clip-path: circle();
    background-color: white;
    width: 60rem;
    height: 85rem;
    position: absolute;
    top: -20rem;
    left: 55%;
    z-index: -1;
    animation: move 4s linear 2s;
}

@keyframes move {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.burger {
    display: none;
    width: 30px;
    height: 30px;
}

@media (max-width:780px) {

    body {
        overflow: hidden;
    }

    nav .links {
        display: none;
        width: 100vw;
    }

    .burger {
        display: flex;
        width: 30px;
        height: 30px;

    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 100px);


    }

    .left h1 {
        font-size: 1rem;
        width: 70%;
        /* gap: 20px; */
    }

    .left p {
        font-size: 12px;
        width: 70%;
        /* gap: 20px; */
    }

    .right .circle {
        display: none;
    }

    .right .circle-1 {
        background-color: whitesmoke;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: 2rem;

    }

    .container .right {
        height: 50%;
        width: 100%;
    }

    .container .right img {
        height: 100px;
        border-radius: 50%;
    }
}